#home-landing {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-image: url("../images/home/paws.svg");
    background-size: auto 100%;
    background-repeat: repeat;
    background-color: #f8a75b;
    padding: 64px 8px;
}

#home-landing #landing-text {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#home-landing #landing-text h2 {
    font-size: 3em;
    font-weight: 800;
    padding-left: 12px;
    line-height: 1em;
}

#home-landing #landing-text p {
    padding-top: 10px;
    padding-left: 24px;
    line-height: 1.2em;
}

#home-landing #landing-text .cta-btn.btn {
    margin-top: 2em;
    margin-right: auto;
    margin-left: 48px;
    border-radius: 8px;
}

#home-landing #landing-image {
    flex-grow: 1;
    display: flex;
}

#home-landing #landing-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

#home-landing #site-branding {
    margin-bottom: 16px;
    margin-left: 20px;
}

#home-landing #site-branding img {
    width: 96px;
}

@media (max-width: 768px) {
    #home-landing {
        flex-direction: column-reverse;
        align-items: center;
    }

    #home-landing #landing-image {
        width: 80vw;
        margin: 16px auto;
    }

    #home-landing #landing-text {
        margin: 0 auto;
        max-width: 80%;
    }

    #home-landing #site-branding {
        margin: 0 auto;
    }
}



#pet-quiz {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#pet-quiz .card {
    background-color: white;
    padding: 32px;
    box-shadow: rgba(120, 90, 60, 0.12) 0px 3px 8px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    min-width: 70%;
}

#pet-quiz .card-body {
    margin: auto;
}

#pet-quiz .card-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 16px;
}

#pet-quiz .card-content {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

#pet-quiz .card img {
    width: 120px;
    border-radius: 8px;
    margin: 16px 0;
}

#pet-quiz .quiz-btn {
    margin: auto;
    margin-top: 24px;
}

#home-about {
    padding: 64px 32px;
    display: flex;
    min-height: 40vh;
    background-color: #f3b582;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#home-about h2 {
    margin-right: auto;
    margin-bottom: 20px;
}

#home-about .about-btn {
    margin-top: 24px;
    margin-left: auto;
}