* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Nunito', sans-serif;
    background: #f5eee6;
    color: #4b3829;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.site-header {
    height: 50px;
}

.site-menu {
    position: fixed;
    display: flex;
    align-items: stretch;

    width: 100vw;
    padding-right: 4px;

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 16px rgba(120, 90, 60, 0.12);

    list-style: none;
}

.site-menu li {
    /* border-right: #4b38290e solid 1px; */
    padding: 8px;
    display: flex;
}


.site-menu li:last-child,
.site-menu li:has(.nav-item.logo) {
    border-right-style: none;
}

.nav-item.spacer {
    flex-grow: 1;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    margin: auto 0;
}

.site-menu li:not(.spacer):hover {
    background-color: rgba(220, 220, 220, 0.26);
    color: rgba(0, 0, 0);
}

.nav-item.logo {
    display: flex;
    align-items: center;
}

.nav-item.logo .site-name {
    display: flex;
    flex-direction: column;
}

.nav-item.logo .site-name .tagline {
    font-size: 8px;
    font-weight: 100;
}

.nav-item.logo .logo-image {
    width: 2.6em;
    margin-right: 12px;
}

#home-landing {
    width: 100vw;
    min-height: calc(100vh);
    display: flex;
    background-image: url("../images/paws.svg");
    background-size: contain;
    background-color: #f8a75b;
    padding: 64px 8px;
}

#home-landing #landing-text {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#home-landing #landing-text h2 {
    font-size: 3em;
    font-weight: 800;
    padding-left: 12px;
    line-height: 1em;
}

#home-landing #landing-text p {
    padding-top: 10px;
    padding-left: 24px;
    line-height: 1.2em;
}

#home-landing #landing-text .cta-btn {
    margin-top: 2em;
    margin-right: auto;
    margin-left: 48px;
    padding: 0.5em 1em;
    background-color: #db812d;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
}

#home-landing #landing-image {
    flex-grow: 1;
    display: flex;
}

#home-landing #landing-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

#home-landing #site-branding {
    margin-bottom: 16px;
    margin-left: 20px;
}

#home-landing #site-branding img {
    width: 96px;
}

@media (max-width: 768px) {
    #home-landing {
        flex-direction: column-reverse;
        align-items: center;
    }

    #home-landing #landing-image {
        width: 80vw;
        margin-top: 16px;
    }
}

#pet-quiz {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#pet-quiz .card {
    background-color: white;
    padding: 32px;
    box-shadow: rgba(120, 90, 60, 0.12) 0px 3px 8px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    min-width: 70%;
}

#pet-quiz .card-body {
    margin: auto;
}

#pet-quiz .card-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 16px;
}

#pet-quiz .card-content {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

#pet-quiz .card img {
    width: 120px;
    border-radius: 8px;
    margin: 16px 0;
}

#pet-quiz .quiz-btn {
    margin: auto;
    margin-top: 24px;
    padding: 0.5em 1em;
    background-color: #db812d;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
}

#home-about {
    padding: 64px 32px;
    display: flex;
    min-height: 40vh;
    background-color: #f3b582;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#home-about h2 {
    margin-right: auto;
    margin-bottom: 20px;
}

#home-about .about-btn {
    margin-top: 24px;
    padding: 0.5em 1em;
    background-color: #db812d;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    margin-left: auto;
}

footer {
    background-color: rgba(219, 129, 45, 0.5);
    box-shadow: rgba(120, 90, 60, 0.12) 0px 3px 8px;

    padding: 16px 24px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .footer-nav {
    display: flex;
    justify-content: space-around;
}

footer .nav-list {
    list-style: none;
    columns: 3;
}

footer .nav-item>a {
    text-decoration: none;
    color: inherit;
}

footer .nav-item>a:hover {
    color: black;
}

footer .copyright {
    margin-top: 32px;
    font-size: 12px;
    text-align: center;
}

footer .social-links a {
    text-decoration: none;
}

.footer-site-logo {
    display: flex;
    flex-direction: column;
}

.footer-site-logo>* {
    margin: 0 auto;
}

.footer-site-logo .tagline {
    font-size: 12px;
    font-weight: 100;
}