* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Nunito', sans-serif;
    background: #F9F7F2;
    color: #4b3829;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.site-header {
    height: 50px;
}

.site-menu {
    position: fixed;
    display: flex;
    align-items: stretch;
    z-index: 1000;

    width: 100vw;
    padding-right: 4px;

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 16px rgba(120, 90, 60, 0.12);

    list-style: none;
}

.site-menu li {
    padding: 8px;
    display: flex;
}

.site-menu .login-btn {
    background: #db812d;
    color: white;
    border-radius: 4px;

    align-items: center;
    margin: auto 4px;
    height: 32px;

    background-color: #db812d;
}

.site-menu .login-btn:hover {
    background-color: #bf7327;
    cursor: pointer;
}

.nav-item.spacer {
    flex-grow: 1;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    margin: auto 0;
}

.site-menu li:not(.spacer):not(.login-btn):hover {
    background-color: rgba(220, 220, 220, 0.26);
    color: rgba(0, 0, 0);
}

.nav-item.logo {
    display: flex;
    align-items: center;
}

.nav-item.logo .site-name {
    display: flex;
    flex-direction: column;
}

.nav-item.logo .site-name .tagline {
    font-size: 8px;
    font-weight: 100;
}

.nav-item.logo .logo-image {
    width: 2.6em;
    margin-right: 12px;
}

.site-menu .nav-item.mobile-only {
    display: none;
}

.login-modal {
    outline: none;
    border: none;
    margin: auto auto;
}

.login-modal .close {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;


    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

.login-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}


footer {
    background-color: rgba(219, 129, 45, 0.5);
    box-shadow: rgba(120, 90, 60, 0.12) 0px 3px 8px;

    padding: 16px 24px;
    display: flex;
    flex-direction: column;
}

footer .footer-nav {
    display: flex;
    justify-content: space-around;
}

footer .nav-list {
    list-style: none;
    columns: 3;
}

footer .nav-item>a {
    text-decoration: none;
    color: inherit;
}

footer .nav-item>a:hover {
    color: black;
}

footer .copyright {
    margin-top: 32px;
    font-size: 12px;
    text-align: center;
}

footer .social-links a {
    text-decoration: none;
}

footer .footer-site-logo {
    display: flex;
    flex-direction: column;
}

footer .footer-site-logo>* {
    margin: 0 auto;
}

footer .footer-site-logo .tagline {
    font-size: 12px;
    font-weight: 100;
}

@media (max-width: 768px) {
    footer .footer-nav {
        flex-direction: column;
        row-gap: 1.2em;
    }

    footer .social-links {
        margin: 0 auto;
    }

    .site-menu .nav-item.mobile-hide {
        display: none;
    }

    .site-menu .nav-item.mobile-only {
        display: block !important;
    }

    #mobile-menu {
        display: none;
    }

    #menu-btn {
        background-image: url("../images/menu.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        margin-left: 12px;
    }

    #mobile-menu.show {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(4px);
        box-shadow: 0 8px 16px rgba(120, 90, 60, 0.12);
        z-index: 999;
    }

    #mobile-menu .nav-item {
        padding: 12px;
        border-bottom: 1px solid rgba(120, 90, 60, 0.2);
    }

    #mobile-menu .nav-item:hover {
        background-color: rgba(220, 220, 220, 0.26);
        color: rgba(0, 0, 0);
    }

}