body {
    background: var(--card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 350px;
    margin: 0;
    overflow: hidden;
}

.login-card {
    background: var(--card-bg);
    /* White */
    color: var(--text-dark);
    padding: 40px;

    /* Brownish shadow */
    text-align: center;
    animation: fadeIn 0.8s ease;
}



.login-card h2 {
    color: var(--primary-brown);
    margin-bottom: 20px;
    margin-top: 0;
}



.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    /* Ensures padding doesn't break width */
}

.login-card input:focus {
    outline: 2px solid var(--secondary-brown);
    border-color: transparent;
}

.login-card button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: var(--primary-brown);
    color: var(--text-light);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-card button:hover {
    background: var(--secondary-brown);
}


.switch-link {
    display: block;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #666;
}

.switch-link a {
    color: var(--primary-brown);
    font-weight: bold;
    text-decoration: none;
}

.switch-link a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}